@page "/jobs/new"
@rendermode InteractiveServer

<PageTitle>OpenClaw .NET - Create Job</PageTitle>

<div class="mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/jobs">Jobs</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Job</li>
        </ol>
    </nav>
</div>

<JobEditor />
